.admin-auth {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--g-color-base-background);

    &__card {
        width: 500px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        margin-bottom: 16px;
        text-align: center;
    }

    &__description {
        margin-bottom: 24px;
        color: var(--g-color-text-secondary);
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }
}